<div class="config-block">
  <%= form_for [@namespace, projekt] do |f| %>
    <div class="">
      <%= f.collection_check_boxes(:landing_page_ids, SiteCustomization::Page.landing, :id, :title) %>
    </div>

    <%= f.submit %>
  <% end %>
</div>
