<div class="votes">
  <% if proposal.process.proposals_phase.open? %>
    <%= render Shared::InFavorAgainstComponent.new(proposal) %>
  <% end %>

  <%= render Shared::ParticipationNotAllowedComponent.new(proposal, cannot_vote_text: cannot_vote_text) %>

  <span class="total-votes">
    <%= t("proposals.proposal.votes", count: proposal.votes_score) %>
  </span>
</div>
