<div class="recipient-group-options-for-kind">
  <%= form_with url: select_options_admin_recipient_groups_path, local: false do |form| %>
    <%= label_tag :kind, t("custom.admin.recipient_groups.new.#{label_key}") %>
    <%= select_tag :kind, options_for_select(options_for_kind), class: "js-select-recipient-group-kind", include_blank: true %>
  <% end %>
</div>
