<div class="reveal"
     style="padding:0;border:none;outline:none;padding:15px;"
     id="currentModalNotification"
     data-reveal data-modal-notification-id=<%= modal_notification.id %>>
  <%= AdminWYSIWYGSanitizer.new.sanitize(modal_notification.html_content) %>
  <button class="close-button" data-close aria-label="Close modal" type="button" style="background-color:white;right:0;top:0;padding: 0 5px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
