<div class="api-clients-connect-to-client">
  <% if current_user.on_dt? %>
    <%= link_to("Zum Consul Projekt Studio wechseln", Rails.application.secrets.dt[:url], class: 'button -blue') %>
  <% else %>
    <%= button_to("Connect to DemokratieToday AI", connect_api_clients_path, class: 'button') %>
  <% end %>
</div>
